{% extends 'manbase.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<form method="post" action="/manager/registerProduct"> {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Product Name</label>
      <input type="text" class="form-control" id="inputEmail4" name="pname" placeholder="Product Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Price</label>
      <input type="text" class="form-control" name="price" id="inputPassword4" placeholder="Price">
    </div>
  </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
{% endblock %}