{% extends 'manbase.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
  <h5 class="card-header">Employees</h5>
  <div class="card-body">
<div class="accordion" id="accordionExample">
  {%for emp in employee_list %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn" type="button" data-toggle="collapse" data-target="#e{{emp.id}}" aria-expanded="false" aria-controls='e{{emp.id}}'>
          <h6>{{emp.first_name}}  {{emp.last_name}}</h6>
        </button>
      </h2>
    </div>
    <div id='e{{emp.id}}' class="collapse" aria-labelledby="e{{emp.id}}" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
{% endfor %}
</div>
    </div>
    </div>
  </div>
{% endblock %}