<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>C R M Portal</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'loginmodule/bootstrap.css' %}" />
         {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'loginmodule/bootstrap.min.css' %}" /> {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'loginmodule/bootstrap-grid.css' %}" /> {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'loginmodule/bootstrap-grid.min.css' %}" /> {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'loginmodule/bootstrap-reboot.css' %}" /> {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'loginmodule/bootstrap-reboot.min.css' %}" />

    </head>
    <body>

	{% block content %}

	{% endblock %}
    </body>
</html>
