<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>C R M Portal</title>
         {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/bootstrap.css' %}" />
         {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/bootstrap.min.css' %}" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/bootstrap-grid.css' %}" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/bootstrap-grid.min.css' %}" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/bootstrap-reboot.css' %}" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/bootstrap-reboot.min.css' %}" />
         {% load staticfiles%}
         <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% load  staticfiles %}
        <script src="{% static 'js/bootstrap.js}"></script>
        {% load  staticfiles %}
        <script src="{% static 'js/bootstrap.bundle.min.js}"></script>
         {% load  staticfiles %}
        <script src="{% static 'js/bootstrap.bundle.js}"></script>

    </head>
    <body>

	{% block content %}

	{% endblock %}
    </body>
</html>
