{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Sign Up{% endblock %}

{% block content %}
 <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}" />
<style>

.container {
  padding: 16px;
}
/* The Modal (background) */

  /* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
</style>
<div class="signupwrapper fadeInDown">
  <div id="signupformContent">

        <div class="fadeIn first">
      <!--<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />-->
        <h3>A Q U I~S A L E S</h3><h2>Sign up to manage your sales</h2>
        </div>
        <form method="post" class="modal-content">
        {% csrf_token %}
        <div class="container">
            {{ form.as_p }}

         <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">User Type</label>
            </div>
             <select class="custom-select" id="inputGroupSelect01" name="user_type">
                <option value="employee">Employee</option>
                <option value="manager">Manager</option>
                <option value="customer">customer</option>
            </select>
         </div>
    <div class="clearfix">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
     </div>
  </form>
  </div>
</div>
      {% endblock %}